[Unit]
Description=Statime PTP daemon (Inferno fork)
After=network-online.target inferno-configure.service
Wants=network-online.target
ConditionPathExists=/etc/inferno.conf

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/statime -c /etc/statime-inferno.toml
Restart=on-failure
RestartSec=5
LimitMEMLOCK=infinity
CapabilityBoundingSet=CAP_SYS_TIME CAP_NET_RAW CAP_NET_BIND_SERVICE CAP_SYS_NICE
AmbientCapabilities=CAP_SYS_TIME CAP_NET_RAW CAP_NET_BIND_SERVICE CAP_SYS_NICE
NoNewPrivileges=no
ProtectHome=true

[Install]
WantedBy=multi-user.target
