[Unit]
Description=Inferno AoIP Web Config UI
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /var/lib/inferno/bin/inferno-web.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
